
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "/"
      },
      {
        text: "Business and industry",
        href: "/"
      },
      {
        text: "Business regulation",
        href: "/"
      }
    ]
  }) }}
{% endblock %}


{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">Guidance</span>
      <h2 class="govuk-heading-l">Detailed guidance</h2>
      <p class="govuk-body-l">
        This is a lead paragraph.
      </p>
    </div>
    <div class="govuk-grid-column-full">
      <hr class='govuk-!-margin-bottom-4'>
    </div>
    <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-8">
      <p class="govuk-body-s govuk-!-margin-bottom-0">
        Published 1 February 2020
      </p>
      <p class="govuk-body-s govuk-!-margin-bottom-0">
        Last updated 10 February 2020 — <a href='#' class='govuk-link--no-visited-state'>see all updates</a>
      </p>
      <p class="govuk-body-s govuk-!-margin-bottom-0">
        From: <a href='#' class='govuk-link--no-visited-state govuk-!-font-weight-bold'>Office for Product Safety and Standards</a>
      </p>
    </div>
  </div>
  <div class='govuk-grid-row'>
    <div class="govuk-grid-column-two-thirds">
      <h2 class='govuk-body-s govuk-!-margin-bottom-2'>
        Contents
      </h2>
      <ol class='govuk-list govuk-list--none govuk-body-s govuk-!-margin-bottom-8'>
        <li>
          — <a href='#heading-1' class='govuk-link--no-visited-state prototype-link--no-underline'>Document 1</a>
        </li>
        <li>
          — <a href='#document-2' class='govuk-link--no-visited-state prototype-link--no-underline'>Document 2</a>
        </li>
      </ol>
      <p class='govuk-!-margin-bottom-8'>
        These documents...
      </p>
      <h3 class='govuk-heading-m' name='heading-1'>
        Heading 1
      </h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis eligendi quibusdam voluptate nostrum illo adipisci quam nam, doloremque praesentium minima nemo sapiente. Eum eos reprehenderit aliquam a itaque illum maxime!
      </p>
      <h3 class='govuk-heading-m' name='heading-2'>
        Heading 2
      </h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis eligendi quibusdam voluptate nostrum illo adipisci quam nam, doloremque praesentium minima nemo sapiente. Eum eos reprehenderit aliquam a itaque illum maxime!
      </p>
    </div>
    <div class="govuk-grid-column-one-third">
      <hr class='prototype-hr--blue'>
      <h2 class="govuk-heading-s">
        Related content
      </h2>
      <ul class="govuk-list govuk-body-s">
        <li class='govuk-!-margin-bottom-2'>
          <a href='#' class='govuk-link--no-visited-state'>Related item 1</a>
        </li>
        <li class='govuk-!-margin-bottom-2'>
          <a href='#' class='govuk-link--no-visited-state'>Related item 2</a>
        </li>
      </ul>
    </div>
  </div>

{% endblock %}
