
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "/"
      },
      {
        text: "Business and industry",
        href: "/"
      },
      {
        text: "Business regulation",
        href: "/"
      }
    ]
  }) }}
{% endblock %}


{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <div class='prototype-organisation'>
        <img src="https://d1yjjnpx0p53s8.cloudfront.net/styles/logo-original-577x577/s3/0023/1707/brand.gif?itok=o70193BZ" alt="">
        <p>
          Office for Product<br>
          Safety & Standards
        </p>
      </div>
      <div class='prototype-banner-title'>
        <span class="govuk-caption-xl">Publication</span>
        <h1 class="govuk-heading-xl">Carcinogenic, mutagenic or reprotoxic substances allowed for use in cosmetic products</h1>
        <p>
          Updated 1 February 2020
        </p>
      </div>
    </div>
    <div class="govuk-grid-column-one-third">
      <h2 class='govuk-body-s'>
        Contents
      </h2>
      <ol class="govuk-list govuk-body-s">
        <li class='govuk-!-margin-bottom-2'>
          <a href="#toulene" class='govuk-link--no-visited-state prototype-link--no-underline'>Toulene</a>
        </li>
        <li class='govuk-!-margin-bottom-2'>
          <a href="#dihydroxybenzene" class='govuk-link--no-visited-state prototype-link--no-underline'>1,4-dihydroxybenzene; hydroquinone; quinol</a>
        </li>
        <li class='govuk-!-margin-bottom-2'>
          <a href="#furaldehyde" class='govuk-link--no-visited-state prototype-link--no-underline'>2-furaldehyde</a>
        </li>
        <li class='govuk-!-margin-bottom-2'>
          <a href="#musk-xylene" class='govuk-link--no-visited-state prototype-link--no-underline'>Musk xylene; 5-tert-butyl-2,4,6-trinitro-m-xylene</a>
        </li>
        <li class='govuk-!-margin-bottom-2'>
          <a href="#aminophenol" class='govuk-link--no-visited-state prototype-link--no-underline'>4-aminophenol</a>
        </li>
        <li class='govuk-!-margin-bottom-2'>
          <a href="#musk-ketone" class='govuk-link--no-visited-state prototype-link--no-underline'>Musk ketone; 3,5-dinitro-2,6-dimethyl-4-tert-butylacetophenone; 4'-tert-butyl-2',6'-dimethyl-3',5'-dinitroacetophenone</a>
        </li>
        <li class='govuk-!-margin-bottom-2'>
          <a href="#diphenyl" class='govuk-link--no-visited-state prototype-link--no-underline'>Diphenyl(2,4,6-trimethylbenzoyl)phosphine oxide</a>
        </li>
        <li class='govuk-!-margin-bottom-2'>
          <a href="#polyhexamethylene" class='govuk-link--no-visited-state prototype-link--no-underline'>Polyhexamethylene biguanide hydrochloride [1];
PHMB [2]</a>
        </li>
        <li class='govuk-!-margin-bottom-2'>
          <a href="#salicylic" class='govuk-link--no-visited-state prototype-link--no-underline'>Salicylic acid</a>
        </li>
      </ol>
    </div>
    <div class="govuk-grid-column-two-thirds">
      <br>

        <a name="toulene"><h2 class="govuk-heading-l">
        Toluene
        </h2></a>
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Index number
              </dt>
              <dd class="govuk-summary-list__value">
              601-021-00-3
              </dd>
            </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              International chemical identification
            </dt>
            <dd class="govuk-summary-list__value">
            Toluene
            </dd>
          </div>
          <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                  EC number
              </dt>
              <dd class="govuk-summary-list__value">
                203-625-9
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
              CAS number
              </dt>
              <dd class="govuk-summary-list__value">
             108-88-3
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Classification
              </dt>
              <dd class="govuk-summary-list__value">
              Repr. 2
              </dd>
            </div>
          <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                ATP inserted / ATP updated
              </dt>
              <dd class="govuk-summary-list__value">
                CLP00
              </dd>
            </div>
          <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                CPR prelim number
              </dt>
              <dd class="govuk-summary-list__value">
                Annex III / 185
              </dd>
            </div>
          </dl>
          <br>

          <a name="dihydroxybenzene"><h2 class="govuk-heading-l">
            1,4-dihydroxybenzene; hydroquinone; quinol
          </h2></a>
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Index number
                </dt>
                <dd class="govuk-summary-list__value">
                  604-005-00-4
                </dd>
              </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                International chemical identification
              </dt>
              <dd class="govuk-summary-list__value">
                1,4-dihydroxybenzene; hydroquinone; quinol
              </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    EC number
                </dt>
                <dd class="govuk-summary-list__value">
                  204-617-8
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                 CAS number
                </dt>
                <dd class="govuk-summary-list__value">
                123-31-9
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Classification
                </dt>
                <dd class="govuk-summary-list__value">
                Carc. 2; Muta. 2
                </dd>
              </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  ATP inserted / ATP updated
                </dt>
                <dd class="govuk-summary-list__value">
                  CLP00
                </dd>
              </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  CPR prelim number
                </dt>
                <dd class="govuk-summary-list__value">
                  Annex III / 14
                </dd>
              </div>
            </dl>
            <br>

            <a name="furaldehyde"><h2 class="govuk-heading-l">
            2-furaldehyde
            </h2></a>
              <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Index number
                  </dt>
                  <dd class="govuk-summary-list__value">
                    605-010-00-4
                  </dd>
                </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  International chemical identification
                </dt>
                <dd class="govuk-summary-list__value">
                  2-furaldehyde
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                      EC number
                  </dt>
                  <dd class="govuk-summary-list__value">
                    202-627-7
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                   CAS number
                  </dt>
                  <dd class="govuk-summary-list__value">
                 98-01-1
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Classification
                  </dt>
                  <dd class="govuk-summary-list__value">
                  Carc. 2
                  </dd>
                </div>
              <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    ATP inserted / ATP updated
                  </dt>
                  <dd class="govuk-summary-list__value">
                    CLP00
                  </dd>
                </div>
              <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    CPR prelim number
                  </dt>
                  <dd class="govuk-summary-list__value">
                    Annex III / 299
                  </dd>
                </div>
              </dl>
              <br>

          <a name="musk-xylene"><h2 class="govuk-heading-l">
          Musk xylene; 5-tert-butyl-2,4,6-trinitro-m-xylene
          </h2></a>
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Index number
                </dt>
                <dd class="govuk-summary-list__value">
                  609-068-00-1
                </dd>
              </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                International chemical identification
              </dt>
              <dd class="govuk-summary-list__value">
              Musk xylene; 5-tert-butyl-2,4,6-trinitro-m-xylene
              </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    EC number
                </dt>
                <dd class="govuk-summary-list__value">
                  201-329-4
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                 CAS number
                </dt>
                <dd class="govuk-summary-list__value">
               81-15-2
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Classification
                </dt>
                <dd class="govuk-summary-list__value">
                Carc. 2
                </dd>
              </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  ATP inserted / ATP updated
                </dt>
                <dd class="govuk-summary-list__value">
                CLP00
                </dd>
              </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  CPR prelim number
                </dt>
                <dd class="govuk-summary-list__value">
                ANNEX III / 96
                </dd>
              </div>
            </dl>
            <br>

            <a name="aminophenol"><h2 class="govuk-heading-l">
              4-aminophenol
            </h2></a>
              <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Index number
                  </dt>
                  <dd class="govuk-summary-list__value">
                    612-128-00-X
                  </dd>
                </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  International chemical identification
                </dt>
                <dd class="govuk-summary-list__value">
                  4-aminophenol
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                      EC number
                  </dt>
                  <dd class="govuk-summary-list__value">
                    204-616-2
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                   CAS number
                  </dt>
                  <dd class="govuk-summary-list__value">
                    123-30-8
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Classification
                  </dt>
                  <dd class="govuk-summary-list__value">
                    Muta. 2
                  </dd>
                </div>
              <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    ATP inserted / ATP updated
                  </dt>
                  <dd class="govuk-summary-list__value">
                    CLP00
                  </dd>
                </div>
              <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    CPR prelim number
                  </dt>
                  <dd class="govuk-summary-list__value">
                    Annex III / 272
                  </dd>
                </div>
              </dl>
              <br>

              <a name="musk-ketone"><h2 class="govuk-heading-l">
              Musk ketone; 3,5-dinitro-2,6-dimethyl-4-tert-butylacetophenone; 4'-tert-butyl-2',6'-dimethyl-3',5'-dinitroacetophenone
              </h2></a>
                <dl class="govuk-summary-list">
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Index number
                    </dt>
                    <dd class="govuk-summary-list__value">
                      609-069-00-7
                    </dd>
                  </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    International chemical identification
                  </dt>
                  <dd class="govuk-summary-list__value">
                  Musk ketone; 3,5-dinitro-2,6-dimethyl-4-tert-butylacetophenone; 4'-tert-butyl-2',6'-dimethyl-3',5'-dinitroacetophenone
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        EC number
                    </dt>
                    <dd class="govuk-summary-list__value">
                      201-328-9
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                     CAS number
                    </dt>
                    <dd class="govuk-summary-list__value">
                      81-14-1
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Classification
                    </dt>
                    <dd class="govuk-summary-list__value">
                      Carc. 2
                    </dd>
                  </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      ATP inserted / ATP updated
                    </dt>
                    <dd class="govuk-summary-list__value">
                      ATP01
                    </dd>
                  </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      CPR prelim number
                    </dt>
                    <dd class="govuk-summary-list__value">
                      Annex III / 97
                    </dd>
                  </div>
                </dl>
                <br>

                <a name="diphenyl"><h2 class="govuk-heading-l">
                Diphenyl(2,4,6-trimethylbenzoyl)phosphine oxide
                </h2></a>
                  <dl class="govuk-summary-list">
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        Index number
                      </dt>
                      <dd class="govuk-summary-list__value">
                        015-203-00-X
                      </dd>
                    </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      International chemical identification
                    </dt>
                    <dd class="govuk-summary-list__value">
                    Diphenyl(2,4,6-trimethylbenzoyl)phosphine oxide
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                          EC number
                      </dt>
                      <dd class="govuk-summary-list__value">
                        278-355-8
                      </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                       CAS number
                      </dt>
                      <dd class="govuk-summary-list__value">
                        75980-60-8
                      </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        Classification
                      </dt>
                      <dd class="govuk-summary-list__value">
                      Repr. 2
                      </dd>
                    </div>
                  <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        ATP inserted / ATP updated
                      </dt>
                      <dd class="govuk-summary-list__value">
                        ATP03
                      </dd>
                    </div>
                  <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        CPR prelim number
                      </dt>
                      <dd class="govuk-summary-list__value">
                        Annex III / 311
                      </dd>
                    </div>
                  </dl>
                  <br>

                  <a name="polyhexamethylene"><h2 class="govuk-heading-l">
                  Polyhexamethylene biguanide hydrochloride [1]; PHMB [2]
                  </h2></a>
                    <dl class="govuk-summary-list">
                      <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                          Index number
                        </dt>
                        <dd class="govuk-summary-list__value">
                          616-207-00-X
                        </dd>
                      </div>
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        International chemical identification
                      </dt>
                      <dd class="govuk-summary-list__value">
                      Polyhexamethylene biguanide hydrochloride [1]; PHMB [2]
                      </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            EC number
                        </dt>
                        <dd class="govuk-summary-list__value">
                          N/A
                        </dd>
                      </div>
                      <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                         CAS number
                        </dt>
                        <dd class="govuk-summary-list__value">
                        32289-58-0 [1]; 27083-27-8 [2]
                        </dd>
                      </div>
                      <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                          Classification
                        </dt>
                        <dd class="govuk-summary-list__value">
                          Carc. 2
                        </dd>
                      </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                          ATP inserted / ATP updated
                        </dt>
                        <dd class="govuk-summary-list__value">
                          ATP05 / ATP09
                        </dd>
                      </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                          CPR prelim number
                        </dt>
                        <dd class="govuk-summary-list__value">
                          Annex V / 28
                        </dd>
                      </div>
                    </dl>
                    <br>

                    <a name="salicylic"><h2 class="govuk-heading-l">
                    Salicylic acid
                    </h2></a>
                      <dl class="govuk-summary-list">
                        <div class="govuk-summary-list__row">
                          <dt class="govuk-summary-list__key">
                            Index number
                          </dt>
                          <dd class="govuk-summary-list__value">
                            607-732-00-5
                          </dd>
                        </div>
                      <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                          International chemical identification
                        </dt>
                        <dd class="govuk-summary-list__value">
                        Salicylic acid
                        </dd>
                      </div>
                      <div class="govuk-summary-list__row">
                          <dt class="govuk-summary-list__key">
                              EC number
                          </dt>
                          <dd class="govuk-summary-list__value">
                            200-712-3
                          </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                          <dt class="govuk-summary-list__key">
                           CAS number
                          </dt>
                          <dd class="govuk-summary-list__value">
                            69-72-7
                          </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                          <dt class="govuk-summary-list__key">
                            Classification
                          </dt>
                          <dd class="govuk-summary-list__value">
                          Repr. 2
                          </dd>
                        </div>
                      <div class="govuk-summary-list__row">
                          <dt class="govuk-summary-list__key">
                            ATP inserted / ATP updated
                          </dt>
                          <dd class="govuk-summary-list__value">
                          ATP13
                          </dd>
                        </div>
                      <div class="govuk-summary-list__row">
                          <dt class="govuk-summary-list__key">
                            CPR prelim number
                          </dt>
                          <dd class="govuk-summary-list__value">
                            Annex V / 3
                          </dd>
                        </div>
                      </dl>

    </div>
  </div>

{% endblock %}
