
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Cosmetic products guidance
      </h1>
      <!--
      <h2 class="govuk-heading-m">
        Templates
      </h2>
      <ul class='govuk-list'>
        <li>
          <a href="templates/collection">
            Collection
          </a>
        </li>
        <li>
          <a href="templates/detailed-guide">
            Detailed guide
          </a>
        </li>
        <li>
          <a href="templates/publications-page.html">
            Publications page
          </a>
        </li>
        <li>
          <a href="templates/publication.html">
            Publication
          </a>
        </li>
        </ul>
        <h2 class="govuk-heading-m">
          Pages
        </h2>
        -->
        <ul class='govuk-list'>
          <li>
            <a href="cosmetic-products-collection.html">
              Cosmetic products: collection
            </a>
          </li>
          <li>
            <a href="uv-filters/uv-filters-splash.html">
              Cosmetic products: allowed UV filters
            </a>
          </li>
          <li>
            <a href="cmr/cmr-splash">
              Cosmetic products: carcinogenic, mutagenic and reprotoxic (CMR) substances
            </a>
          </li>
          <!--
          <li>
            <a href="#">
              Cosmetic products: restricted substances
            </a>
          </li>

        <li>
          <a href="preservatives.html">
            Cosmetic products: preservatives
          </a>
        </li>
        <li>
          <a href="#">
            Cosmetic products: colourants
          </a>
        </li>
        <li>
          <a href="/nanomaterials/cosmetic-products-nanomaterials.html">
            Cosmetics products: nanomaterials
          </a>
        </li>
        -->
      </ul>
    </div>
{# Foo blah blah #}

{% endblock %}
